.search-box {
 position: relative;
}

.search-box img {
 top: 50%;
 position: absolute;
 transform: translateY(-50%);
 padding: 0 10px;
}

.row {
 margin: 0 80px;
 display: flex;
 flex-wrap: wrap;
 gap: 10px;
 margin-bottom: 40px;
}

.cards {
 flex-basis: 380px;
}

.images {
 margin: 20px 0;
 border: solid 0.5px rgb(109, 109, 109);
 border-radius: 10px;
 padding: 15px;
}

.images img {
 width: 100%;
}

.card-body {
 display: flex;
 flex-direction: column;
 gap: 10px;
}

.card-btn {
 border: solid 0.5px rgb(109, 109, 109);
 border-radius: 5px;
 justify-content: center;
 padding: 5px;
 font-size: 0.9rem;
 font-weight: 900;
}

.card_title {
 margin-top: 10px;
 font-size: 1.2rem;
 font-weight: 900;
}

.card-text {
 font-size: 1rem;
 color: rgb(99, 99, 99);
}