/*.main {
 display: flex;
 justify-content: space-evenly;
 width: 100vw;
 gap: 10rem;
 margin: 35px 80px 35px 80px;
}

.map {
 height: 50%;
 border: solid 1px rgb(189, 185, 185);
 border-radius: 5px;
 padding: 40px;
}

.map img{
 width: 45rem;
}

.camp-details {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 margin-right: 165px;
 gap: 5rem;
}

.details-card {
 width: 100%;
 border: solid 1px rgb(189, 185, 185);
 border-radius: 5px;
 padding: 40px;
}

.reviews {
 width: 100%;
 border: solid 1px rgb(189, 185, 185);
 border-radius: 5px;
 padding: 40px;
}

.thumbmail {
 width: 1200px;
}

.pricing {
 margin: 20px 0;
 display: flex;
 justify-content: space-between;
}

.tes-label {
 display: flex;
 justify-content: space-between;
 margin-bottom: 10px;
}

.tes {
 border-bottom: solid 1px rgb(167, 154, 154);
}

#duration {
 margin-top: 15px;
 font-weight: 600;
}


h1 {
 font-size: 1.3rem;
 font-weight: 600;
}*/